*{box-sizing:border-box;}
.section-padding{
    padding-top:50px;
}

.section-title{
    padding-bottom:50px;

}
.section-title h2{
    position:relative;
    margin-bottom:30px;

}

.section-title h2::before{
    position:absolute;
    top:(100%);
    bottom:-20px;
    left:50%;
    content:"";
    background-color:rgb(7, 207, 57);
    width:80px;
    height:3px;
    transform:translateX(-50%);


}

.section-title h2::after{
    position:absolute;
    top:(100%);
    bottom:-20px;
    left:50%;
    content:"";
    background-color:rgb(218, 18, 18);
    width:30px;
    height:3px;
    transform:translateX(-50%)

}
.section-icon{
    padding-bottom:20px;
}



.icon {
    padding-bottom: 20px;
  }