*{
    box-sizing:border-box;
}

.section-title span{
    color:rgb(230, 35, 9);
}



.section-title{
    padding-top:50px;
    text-align:center;
    padding-bottom:50px;
}
.section-title h2{
    font-size:25px;
}
.section-title p{
    font-size:17px;
}

.pricing-box{
    text-align:center;
    border:1px solid black;
    padding-bottom:20px;
    border-radius:8px;
}
.price {
    padding-top: 5px;
  }
.icon{
    font-size:20px;
    padding:10px 0;
    color:#ffff;
    background-color:rgb(218, 28, 208);
    display:inline-block;
    border-radius:50%;
    width:70px;
    
}
.pricing-list ul li{
    list-style:none;
    text-align:left;
    font-size:15px;
    line-height:20px;
    padding: 0 5px;

}

.button{
    padding:5px 8px;
}

.btn-1 {
    background: red;
    padding: 5px 10px;
    display: inline-block;
    color:#ffff;
    border-radius:1000px;
  }
  .btn-1 p {
    margin-top: 0;
    margin-bottom: 0;
  }
 
  .fa.fa-star {
    margin-right: 5px;
  }
