*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;

}
.section-padding{
    padding:150px 0;
}



.image img{
    width:90%;
    height: 400px;
}
.image-section{
    position:relative;
}

.image-section::after{
    position:absolute;
    content: "";
    border:2px solid #efdc08;
    right:0px;
    bottom:-50px;
    width:90%;
    height:100%;
    z-index: -1;

}
.sarvice-content {
    width: 70%;
    margin: auto;
    
}

.sarvice-content h3{
    font-size: 40px;
    line-height: 46px;
    padding-bottom:20px;
    color:#333;
    
}

.sarvice-content p{
    font-size: 20px;
    line-height: 26px;
    padding-bottom:20px;
    color:#333;
    
}

.box-btn a {
    background-color: #efdc08;
    padding: 10px 25px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

.box-1 {
    margin-right: -70px;

}
.box-2 {
    margin-top: 120px;
    margin-left: -60px;
}


@media only screen and (max-width: 768px){
    .section-padding {
        padding: 0px 0;
    }
    .sarvice-content {
        width: 100%;
    }
    .single-box-sarvice {
        margin-bottom: 50px;
    }
    .sarvice-content {
        padding-top: 70px;
    }
    .box-1 {
        margin-right: 0px;
    
    }
    .box-2 {
        margin-left: 0px;
    }

}