*{
    box-sizing:border-box;
}
a:hover{
color:#fff;
}
.section-padding{
    background-color:#ece1e1;
    padding:60px 0;
}

.section-padding h1{
    color:black;
    font-size:2.5rem;
}

.sarvice-content h2{
    color:black;
    font-size:1.5rem;

}
.sarvice-itam{
    padding-top:50px;
}
.sarvice-bg{
    background-size:cover;
    width:100%;
    height:200px;
}
.sarvice-content{
    padding:0 10px;
    background-color:#fff;
    box-shadow: 0 0 15px black;
    padding-bottom:20px;
    padding-top:20px;
}
.sarvice-content p{
    color:rgb(66, 64, 64);
    font-size:15px;
    
}
.sarvice-button {
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 20px;
    
  }
  .sarvice-button a:hover{
      color:#fff;
  }